################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/AlkemyChallenge/.vs/AlkemyChallenge
/AlkemyChallenge/bin/Debug/net6.0
/Interfaces/bin/Debug/netstandard2.1
